<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuvoJNOaet4A0G6YeD3Qn2SFkZ6eslHCg</string>
	<key>GCM_SENDER_ID</key>
	<string>468085733540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookAppRafi</string>
	<key>PROJECT_ID</key>
	<string>book-app-rafi</string>
	<key>STORAGE_BUCKET</key>
	<string>book-app-rafi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468085733540:ios:ab44376e4aae9cc58a0e31</string>
</dict>
</plist>